# Strings

    A string is a sequence of characters.

    Computers do not deal with characters, they deal with numbers (binary). Even though you may see characters on your screen, internally it is stored and manipulated as a combination of 0's and 1's.

    This conversion of character to a number is called encoding, and the reverse process is decoding. ASCII and Unicode are some of the popular encoding used.

  ###  In Python, string is a sequence of Unicode character.

For more details about unicode 

https://docs.python.org/3.3/howto/unicode.html

# How to create a string?

Strings can be created by enclosing characters inside a single quote or double quotes. 

Even triple quotes can be used in Python but generally used to represent multiline strings and docstrings.

In [1]:
myString = 'Hello'

print(myString)


myString = "Hello"
print(myString)


myString = '''Hello'''
print(myString)

myString = """Hello""" 
print(myString)

Hello
Hello
Hello
Hello

# How to access characters in a string?(string indexing)

We can access individual characters using indexing and a range of characters using slicing.

Index starts from 0. 

Trying to access a character out of index range will raise an IndexError. 

#### The index must be an integer. We can't use float or other types, this will result into TypeError.

Python allows negative indexing for its sequences.

In [2]:
myString = "Hello"

#print first Character
print(myString[0])

#print last character using negative indexing
print(myString[-1])

#slicing 2nd to 5th character , 2 to 5-1
print(myString[2:5])

H
o
llo

### If we try to access index out of the range or use decimal number, we will get errors.

In [3]:
print(myString[15])

IndexError: string index out of range

In [4]:
print(myString[1.5])

TypeError: string indices must be integers

# How to change or delete a string ?

### Strings, Tuples are immutable. 

### Lists , sets , dictionary are mutable.

This means that elements of a string cannot be changed once it has been assigned. 

We can simply reassign different strings to the same name.

In [5]:
myString = "Hello"
myString[4] = 's' # strings are immutable

TypeError: 'str' object does not support item assignment

## We cannot delete or remove characters from a string. But deleting the string entirely is possible using the keyword       del.

In [6]:
del myString # delete complete string

In [7]:
print(myString)

NameError: name 'myString' is not defined

## We cannot delete or remove characters from a string. But we can reassign the string.

# String Operations

# Concatenation

Joining of two or more strings into a single one is called concatenation.

The + operator does this in Python. Simply writing two string literals together also concatenates them.

In [8]:
s1 = "Hello "
s2 = "Satish"

#concatenation of 2 strings
print(s1 + s2)

Hello Satish

## The * operator can be used to repeat the string for a given number of times.

In [9]:
#repeat string n times

print(s1 * 3)

Hello Hello Hello

# Iterating Through String

In [10]:
count = 0
for l in "Hello World":
    if l == 'o':
        count += 1
print(count, ' letters found till letter o.')

2  letters found till letter o.

# String Membership Test

In [11]:
print('l' in 'Hello World') #in operator to test membership

True

In [12]:
# in also use for substring
print('or' in 'Hello World')

True

In [13]:
# shown fa
print('gh' in 'Hello World')

False

# String Methods

    Some of the commonly used methods are lower(), upper(), join(), split(), find(), replace() etc

In [14]:
"Hello".lower()

'hello'

In [15]:
"Hello".upper()

'HELLO'

In [16]:
"This will split all words in a list".split()

['This', 'will', 'split', 'all', 'words', 'in', 'a', 'list']

The join() is a string method which returns a string concatenated with the elements of an iterable

The join() method takes an iterable - objects capable of returning its members one at a time

Some of the example of iterables are:

Native datatypes - List, Tuple, String, Dictionary and Set
File objects and objects you define with an __iter__() or __getitem()__ method

In [17]:
numList = ['1', '2', '3', '4']
seperator = ' '
print(seperator.join(numList))

numTuple = ('1', '2', '3', '4')
print('-'.join(numTuple))

s1 = 'abc'
s2 = '123'

# '123' treated as a iterable
""" Each character of s2 is concatenated to the front of s1""" 
print('s1.join(s2):', s1.join(s2))

""" Each character of s1 is concatenated to the front of s2""" 
print('s2.join(s1):', s2.join(s1), "and type is: ", type(s2.join(s1)))

1 2 3 4
1-2-3-4
s1.join(s2): 1abc2abc3
s2.join(s1): a123b123c and type is:  <class 'str'>

In [18]:
# here empty space is used as a delimeter
' '.join(['This', 'will', 'split', 'all', 'words', 'in', 'a', 'list'])

'This will split all words in a list'

In [19]:
'-'.join(['This', 'will', 'split', 'all', 'words', 'in', 'a', 'list'])

'This-will-split-all-words-in-a-list'

In [20]:
# find give us first matching index
"Good Morning Morning".find("Mo")

5

In [21]:
#replace string part
s1 = "Bad morning"

s2 = s1.replace("Bad", "Good")

print(s1)
print(s2)

Bad morning
Good morning

# Python Program to Check where a String is Palindrome or not ?

In [22]:
myStr = "Madam"

#convert entire string to either lower or upper
myStr = myStr.lower()

#reverse string , reversed() is a inbuilt function
revStr = reversed(myStr)


#check if the string is equal to its reverse
if (myStr) == (revStr):
    print("Given String is palindrome")
else:
    print("Given String is not palindrome")


'''here it will give string not palindrome.
Because string in memory are at diffrent location, so for 
compare we must convert it into list'''

Given String is not palindrome

'here it will give string not palindrome.\nBecause string in memory are at diffrent location, so for \ncompare we must convert it into list'

In [25]:
myStr = "Madam"

#convert entire string to either lower or upper
myStr = myStr.lower()

#reverse string , reversed() is a inbuilt function
revStr = reversed(myStr)


#check if the string is equal to its reverse
if list(myStr) == list(revStr):
    print("Given String is palindrome")
else:
    print("Given String is not palindrome")

Given String is palindrome

In [26]:
ss1 = input("enter string")
ss1 = ss1.lower()
ss2 = ss1[::-1]

if ss1 == ss2:
    print("string is palindrome")
else:
    print("string is not palindrome")

enter stringgggg
string is palindrome

# Python Program to Sort Words in Alphabetic Order?

In [27]:
myStr = "python Program to Sort words in Alphabetic Order"

#breakdown the string into list of words
words = myStr.split()

#sort the list
words.sort()

#print Sorted words are
for word in words:
    print(word)

Alphabetic
Order
Program
Sort
in
python
to
words

In [28]:
# Python program to demonstrate sorting by user's 
# choice 
  
# function to return the second element of the 
# two elements passed as the parameter 
def sortSecond(val): 
    return val[1]  
  
# list1 to demonstrate the use of sorting  
# using using second key  
list1 = [(1, 2), (3, 3), (1, 1), (1,6), (2,12)] 
  
# sorts the array in ascending according to  
# second element 
list1.sort(key = sortSecond)  
print(list1) 
  
# sorts the array in descending according to 
# second element 
list1.sort(key = sortSecond, reverse = True) 
print(list1)

[(1, 1), (1, 2), (3, 3), (1, 6), (2, 12)]
[(2, 12), (1, 6), (3, 3), (1, 2), (1, 1)]