# Tuples

-> A tuple is similar to list

-> The diffence between the two is that we can't change the elements of tuple once it is assigned whereas in the list, elements can be changed

# Tuple creation

In [43]:
#empty tuple
t = ()

#tuple having integers
t = (1, 2, 3)
print(t)

#tuple with mixed datatypes
t = (1, 'raju', 28, 'abc')
print(t)

#nested tuple
t = (1, (2, 3, 4), [1, 'raju', 28, 'abc'])
print(t)

(1, 2, 3)
(1, 'raju', 28, 'abc')
(1, (2, 3, 4), [1, 'raju', 28, 'abc'])

###  parenthesis and comma

In [44]:
#only parenthesis is not enough
t = ('satish')
type(t)

str

In [45]:
#need a comma at the end
t = ('satish',)
type(t)

tuple

In [46]:
#parenthesis is optional
t = "satish", 
print(type(t))

print(t)

<class 'tuple'>
('satish',)

# Accessing Elements in Tuple

In [47]:
t = ('satish', 'murali', 'naveen', 'srinu', 'brahma')

print(t[1])

murali

In [48]:
#negative index
print(t[-1]) #print last element in a tuple

brahma

In [49]:
#nested tuple
t = ('ABC', ('satish', 'naveen', 'srinu'))

print(t[1])

('satish', 'naveen', 'srinu')

In [50]:
print(t[1][2])

srinu

In [51]:
#Slicing
t = (1, 2, 3, 4, 5, 6)

print(t[1:4])

#print elements from starting to 2nd last elements
print(t[:-2])

#print elements from starting to end
print(t[:])

(2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4, 5, 6)

# Changing a Tuple

#### unlike lists, tuples are immutable

#### This means that elements of a tuple cannot be changed once it has been assigned. But, if the element is itself a mutable datatype like list, its nested items can be changed.

In [52]:
#creating tuple
t = (1, 2, 3, 4, [5, 6, 7],{3,14,4123})

t[2] = 'x' #will get TypeError

TypeError: 'tuple' object does not support item assignment

In [53]:
### however you can change mutable data type in tuple
t[4][1] = 'satish'
print(t)

(1, 2, 3, 4, [5, 'satish', 7], {4123, 3, 14})

In [54]:
t[5].add('3123')  
t[5].update([123,1323,241,'ads',])

# updated tuple
print(t)

(1, 2, 3, 4, [5, 'satish', 7], {3, 'ads', '3123', 123, 1323, 14, 241, 4123})

In [55]:
t

(1, 2, 3, 4, [5, 'satish', 7], {123, 1323, 14, 241, 3, '3123', 4123, 'ads'})

In [56]:
#concatinating tuples

t = (1, 2, 3) + (4, 5, 6)
print(t)

(1, 2, 3, 4, 5, 6)

In [57]:
#repeat the elements in a tuple for a given number of times using the * operator.
t = (('satish', ) * 4)
print(t)

('satish', 'satish', 'satish', 'satish')

# Tuple Deletion

In [58]:
#we cannot change the elements in a tuple. 
# That also means we cannot delete or remove items from a tuple.

#delete entire tuple using del keyword
t = (1, 2, 3, 4, 5, 6)

#delete entire tuple
del t

# Tuple Count

In [59]:
t = (1, 2, 3, 1, 3, 3, 4, 1)

#get the frequency of particular element appears in a tuple
t.count(1)

3

# Tuple Index

In [60]:
t = (1, 2, 3, 1, 3, 3, 4, 1)

print(t.index(3)) #return index of the first element is equal to 3

#print index of the 1

2

# Tuple Memebership

In [61]:
#test if an item exists in a tuple or not, using the keyword in.
t = (1, 2, 3, 4, 5, 6)

print(1 in t)

True

In [62]:
print(7 in t)

False

In [63]:
print(7 not in t)

True

# Built in Functions

# Tuple Length

In [64]:
t = (1, 2, 3, 4, 5, 6)
print(len(t))

6

# Tuple Sort

In [65]:
t = (4, 5, 1, 2, 3)

new_t = sorted(t)
print(new_t) #Take elements in the tuple and return a new sorted list 
             #(does not sort the tuple itself).

[1, 2, 3, 4, 5]

In [66]:
#get the largest element in a tuple
t = (2, 5, 1, 6, 9)

print(max(t))

9

In [67]:
#get the smallest element in a tuple
print(min(t))

1

In [68]:
#get sum of elments in the tuple
print(sum(t))

23