# Introduction to Pandas dataframe

### Data frame is a main object in pandas. It is used to represent data with rows and columns

#### Data frame is a data structure represent the data in tabular or excel spread sheet like data.

**creating dataframe:**

In [2]:
import pandas as pd
df = pd.read_csv("weather_data.csv")   #read weather.csv data
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [3]:
#list of tuples

weather_data = [('1/1/2017', 32, 6, 'Rain'),
                ('1/2/2017', 35, 7, 'Sunny'),
                ('1/3/2017', 28, 2, 'Snow'),
                ('1/4/2017', 24, 7, 'Snow'),
                ('1/5/2017', 32, 4, 'Rain'),
                ('1/6/2017', 31, 2, 'Sunny')
               ]
df = pd.DataFrame(weather_data, columns=['day', 'temperature', 'windspeed', 'event'])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [4]:
#get dimentions of the table

df.shape   #total number of rows and columns

(6, 4)

In [5]:
df.xs

<bound method NDFrame.xs of         day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny>

In [6]:
df.ndim

2

In [7]:
#if you want to see initial some rows then use head command (default 5 rows)
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [8]:
#if you want to see last few rows then use tail command (default last 5 rows will print)
df.tail()

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [9]:
#slicing
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [10]:
df.columns   #print columns in a table

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

####  2 ways to access columns data

In [11]:
df.day      #print particular column data

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [12]:
#another way of accessing column
df['day'] #df.day (both are same)

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

### Why we are using two square brackets instead of one while printing datas from two columns ?

Thats because , it accepts list instead of multiple columns names in the form of strings. When we want a single column data we provide a string. as its a single column it doesnt require a list to pass.<b> But when multiple columns are required , we have to pass them as a list of strings. the inner [ ] specifies a list and the outer[ ] specifies the syntax to display the data in columns mentioned inside it. </b>

In [13]:
#get 2 or more columns
df[['day', 'event']]

        day  event
0  1/1/2017   Rain
1  1/2/2017  Sunny
2  1/3/2017   Snow
3  1/4/2017   Snow
4  1/5/2017   Rain
5  1/6/2017  Sunny

In [14]:
# get 2 or more column with rainy day
df[['day', 'temperature']][df['event'] == 'Rain']

        day  temperature
0  1/1/2017           32
4  1/5/2017           32

In [15]:
df['temperature']

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [18]:
#get all temperatures
df['temperature']['day']

KeyError: 'day'

In [19]:
df['temperature'][df['event'] == 'Rain']

0    32
4    32
Name: temperature, dtype: int64

#### operations on columns data

In [20]:
#print max temperature
df['temperature'].max()

35

In [21]:
#print max temperature
df['temperature'].min()

24

In [22]:
#print max temperature
df['temperature'].describe()

count     6.000000
mean     30.333333
std       3.829708
min      24.000000
25%      28.750000
50%      31.500000
75%      32.000000
max      35.000000
Name: temperature, dtype: float64

In [23]:
# select rows which has maximum temperature
"""
here , [df.temperature == df.temperature.max()] gives us row index.
"""
df[df.temperature == df.temperature.max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [24]:
row_index = df.temperature == df.temperature.max()
print(row_index, " have max remperature.")

0    False
1     True
2    False
3    False
4    False
5    False
Name: temperature, dtype: bool  have max remperature.

In [25]:
# select rows which has maximum temperature

df[row_index]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [26]:
df['day'][row_index]

1    1/2/2017
Name: day, dtype: object

In [27]:
#select only day column which has maximum temperature
df.day[df.temperature == df.temperature.max()]

1    1/2/2017
Name: day, dtype: object

In [28]:
#select only day column which has maximum temperature
df['day'][df.temperature == df.temperature.max()]

1    1/2/2017
Name: day, dtype: object

In [29]:
df.day[row_index]

1    1/2/2017
Name: day, dtype: object